body {
  font-family: Helvetica, Arial, sans-serif;
  display: none;
}

body.ready {
  display: inherit;
}

header {
  text-align: center;
}

header h1 {
  padding-right: .25em;
  font-size: 200%;
}

header * {
  display: inline;
}

header .yaselect-anchor:first-of-type {
  display: none;
}

header .yaselect-anchor, header select {
  font-size: 200%;
  font-family: Helvetica, Arial, sans-serif;
}

header .yaselect-current:after {
  content: '▼';
  color: #999;
  font-size: 60%;
  padding-left: .25em;
}

table {
  margin-top: 2em;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 80%;
  width: 100%;
}

th, td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  font-weight: normal;
}

thead th {
  height: 4em;
  -webkit-transform: rotate(270deg);
}

thead td {
  width: 6em;
}

tbody th, tbody td {
  padding: .5em 0;
}

tbody th {
  padding-right: .5em;
}

tbody th {
  text-align: right;
}

tbody td {
  color: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 75%;
  }

  tbody th, tbody td {
    padding: .25em;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  h1, thead, tbody th {
    display: none;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  table, tbody, tbody tr, tbody td {
    margin: 0;
    border: 0;
    display: block;
    text-align: left;
    font-size: 100%;
  }

  tbody td {
    padding: .5em;
    border-bottom: 1px solid #ccc;
    font-size: 100% !important;
    background: transparent !important;
    color: #000;
  }
  
  tbody td.now {
    background: -webkit-gradient(linear, left top, left bottom, from(#058cf5), to(#015de6)) !important;
    color: #fff;
  }

  tbody td:before {
    content: attr(data-when);
    float: right;
    color: #015de6;
    font-size: small;
  }
  
  tbody td:after {
    content: attr(data-who);
    display: block;
    margin-top: .25em;
    font-size: small;
    color: #999;
    white-space: normal;
  }

  tbody td.now:before, tbody td.now:after {
    color: #fff;
  }
  
  td:empty, tbody tr:not(.selected) {
    display: none;
  }
  
  header {
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)) !important;
    overflow: hidden;
    color: #fff;
  }
  
  header .yaselect-anchor {
    float: left;
    margin: 1em .5em;
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
    display: inherit !important;
  }
  
  header select {
    font-size: 100%;
  }
  
  header .yaselect-current:after {
    font-size: inherit;
  }

  header .yaselect-anchor:last-child {
    float: right;
  }
  
  nav select {
    font-size: 100%;
  }
}