h1 {
  font: 130% Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 a {
  color: #ccc;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

h1 a.selected {
  color: #000;
  text-decoration: none;
}

@media print {
  h1 a { display: none; }
  h1 a.selected { display: inline; }
}

table {
  margin-top: 4em;
  border-collapse: collapse;
  table-layout: fixed;
  font: small Helvetica, Arial, sans-serif;
  width: 100%;
}

th, td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  font-weight: normal;
}

thead th {
  height: 4em;
  -webkit-transform: rotate(270deg);
}

thead td {
  width: 6em;
}

tbody th, tbody td {
  padding: .5em 0;
}

tbody th {
  padding-right: .5em;
}

tbody th {
  text-align: right;
}

tbody td {
  color: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  h1, thead {
    display: none;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  table, tbody, tbody tr, tbody th, tbody td {
    margin: 0;
    border: 0;
    display: block;
    text-align: left;
  }

  tbody th {
    padding: .75em;
    font-weight: bold;
  }

  tbody td {
    padding: .75em;
    border-top: 1px solid #ccc;
    font-size: 100% !important;
    background: transparent !important;
    color: #000;
  }

  tbody td.past {
    color: #999;
  }
  
  tbody td.now {
    background: #69f !important;
    color: #fff;
  }

  tbody td:before {
    content: attr(title) ': ';
  }
  
  td:empty {
    display: none;
  }
}